<%= render 'admin/shared/header' %>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Table</th>
        <th>Row Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Forum</td>
        <td><%= @forums_count %></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><%= @posts_count %></td>
      </tr>
      <tr>
        <td>Comment</td>
        <td><%= @comments_count %></td>
      </tr>
      <tr>
        <td>Sentiment</td>
        <td><%= @sentiments_count %></td>
      </tr>
      <tr>
        <td>User</td>
        <td><%= @users_count %></td>
      </tr>
      <tr>
        <td>Opinion word</td>
        <td><%= @opinion_words_count %></td>
      </tr>
    </tbody>
  </table>
</div>
