<%= render 'shared/tabs' %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <%= search_form_for [:scholar, @q], class: 'form-row align-items-center' do |f| %>
        <div class="col-auto"><i class="fas fa-search"></i></div>
        <div class="form-group col-auto">
          <label>Name</label>
          <%= f.search_field :name_cont, class: 'form-control ml-1' %>
        </div>
        <div class="form-group col-auto">
          <label>School</label>
          <%= f.select :is_school_true, [true, false], { include_blank: true }, { class: 'form-control ml-1' } %>
        </div>
        <div class="form-group col-auto">
          <label>NSFW</label>
          <%= f.select :nsfw_true, [true, false], { include_blank: true }, { class: 'form-control ml-1' } %>
        </div>
        <div class="btn-group col-auto">
          <%= f.button class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to scholar_forums_path, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-undo"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="d-flex">
  </div>
  <br>
  <div>
    <%= paginate @forums %>
    <table class="table mt-2">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>
            <%= sort_link @q, :posts_count do %>
              Post
            <% end %>
          </th>
          <th>Link</th>
          <th>
            <%= link_to scholar_forums_path, method: :post, class: 'btn btn-sm btn-outline-secondary mt-1' do %>
              <i class="fas fa-cloud-download-alt"></i> Update Forums
            <% end %>
            <div id="crawl-forums-btn" class="btn btn-sm btn-outline-secondary mr-1 mt-1">
              <i class="fas fa-cloud-download-alt"></i> Crawl (this page)
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @forums.each do |forum| %>
          <tr>
            <td><%= forum.name %></td>
            <td><%= forum.posts_count %></td>
            <td><%= link_to forum.dcard_url, forum.dcard_url, target: :_blank %></td>
            <td class="btn-toolbar">
              <div class="btn-group">
                <%= link_to scholar_forum_path(forum), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="fas fa-info-circle"></i>
                <% end %>
                <%= link_to scholar_posts_path(q: { forum_id_eq: forum.id }), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="fas fa-info-circle"></i> Posts
                <% end %>
              </div>
              <%= link_to scholar_forum_path(forum), method: :patch, remote: true, class: 'btn btn-sm btn-outline-secondary ml-1', id: "crawl-forum-#{forum.alias}-btn" do %>
                <i class="fas fa-cloud-download-alt"></i> Crawl
              <% end %>
              <%= link_to scholar_forum_path(forum), class: 'btn btn-sm btn-outline-danger ml-1', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @forums %>
  </div>
</div>
<script type="text/javascript">
  $('#crawl-forums-btn').click(function () {
    $('a[id^="crawl-forum-"][id$="-btn"]').not('.disabled').toArray().forEach(btn => btn.click())
  })
</script>
