<% comment_class = 'removed' %>
<% comment_class = 'male' if comment.gender == 'M' %>
<% comment_class = 'female' if comment.gender == 'F' %>
<div id="floor-<%= comment.floor %>" class="<%= comment_class %> card my-1">
  <div class="card-body">
    <div class="card-title">
      <h5><%= comment.school %> <%= comment.department %></h5>
      <p class="text-muted">B<%= comment.floor %>  <%= time_formatter comment.created_at %></p>
    </div>
    <div class="card-text">
      <%= url_to_img(simple_format(comment.content)) %>
    </div>
    <div class="card-text small text-muted">
      <i class="fas fa-heart" style="color: rgb(254,69,78)"></i>
      <i class="fas fa-times"></i>
      <%= comment.like_count %>
    </div>
  </div>
</div>
