<%= render 'admin/shared/header' %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <%= search_form_for [:admin, @q], class: 'form-row align-items-center' do |f| %>
        <div class="col-auto"><i class="fas fa-search"></i></div>
        <div class="form-group col-auto">
          <label>Post title</label>
          <%= f.search_field :post_title_cont, class: 'form-control' %>
        </div>
        <div class="form-group col-auto">
          <label>Echo chamber</label>
          <%= f.select :echo_chamber_eq, Review.echo_chambers, { include_blank: true }, { class: 'form-control ml-1' } %>
        </div>
        <div class="btn-group col-auto">
          <%= f.button class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to admin_reviews_path, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-undo"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= paginate @reviews %>
  <table class="table mt-2">
    <thead class="thead-light">
      <tr>
        <th>Forum / Title</th>
        <th>User</th>
        <th>
          <%= sort_link @q, :echo_chamber do %>
            Echo Chamber
          <% end %>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td><%= link_to review.post.forum_name, admin_forum_path(review.post.forum_id) %> / <%= link_to review.post.title, admin_post_path(review.post) %></td>
          <td><%= link_to review.user.email, admin_users_path(user_id: review.user_id) %></td>
          <td><%= review.echo_chamber %></td>
          <td>
            <%= link_to admin_review_path(review), class: 'btn btn-sm btn-outline-danger m-1', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @reviews %>
</div>
