<%= render 'shared/logo' %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to 'Forums', scholar_forums_path, class: 'nav-link', id: 'tab-forums' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Posts', scholar_posts_path, class: 'nav-link', id: 'tab-posts' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Explore', scholar_explore_path, class: 'nav-link', id: 'tab-explore' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Statistics', scholar_statistics_path, class: 'nav-link', id: 'tab-statistics' %>
  </li>
  <% if current_user.is_admin? %>
    <li class="nav-item">
      <%= link_to 'Users', admin_users_path, class: 'nav-link', id: 'tab-users' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Sidekiq', admin_sidekiq_web_path, target: :_blank, class: 'nav-link', id: 'tab-sidekiq' %>
    </li>
  <% end %>
</ul>
<script type="text/javascript">
  paths = window.location.pathname.split('/')
  $(`#tab-${paths[2]}`).addClass('active')
</script>
<br>
