<div class="dropdown <%= klass ||= '' %>">
  <div class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
    <i class="fas fa-tasks"></i> Tasks
  </div>
  <div class="dropdown-menu">
    <%= link_to scholar_post_path(post), method: :patch, remote: true, class: 'dropdown-item', id: "crawl-post-#{post.dcard_id}-btn" do %>
      <i class="fas fa-cloud-download-alt"></i> Crawl
    <% end %>
    <%= link_to sentiment_analysis_scholar_post_path(post), method: :post, remote: true, class: 'dropdown-item', id: "sentiment-analysis-post-#{post.dcard_id}-btn" do %>
      <i class="fas fa-smile"></i> Sentiment Analysis
    <% end %>
    <%= link_to compute_embedding_scholar_post_path(post), method: :post, remote: true, class: 'dropdown-item', id: "compute-embedding-post-#{post.dcard_id}-btn" do %>
      <i class="fas fa-vector-square"></i> Compute Embedding
    <% end %>
    <div class="dropdown-header"><i class="fas fa-file-download"></i> Segment by</div>
    <table class="table table-bordered table-responsive dropdown-item">
      <tbody>
        <tr>
          <th>jieba</th>
          <td>
            <%= link_to '.txt', segment_scholar_post_path(post, method: 'jieba', format: :text), method: :post %>
            or
            <%= link_to '.xlsx', segment_scholar_post_path(post, method: 'jieba', format: :xlsx), method: :post %>
          </td>
        </tr>
        <tr>
          <th>snownlp</th>
          <td>
            <%= link_to '.txt', segment_scholar_post_path(post, method: 'snownlp', format: :text), method: :post %>
            or
            <%= link_to '.xlsx', segment_scholar_post_path(post, method: 'snownlp', format: :xlsx), method: :post %>
          </td>
        </tr>
        <tr>
          <th>pkuseg</th>
          <td>
            <%= link_to '.txt', segment_scholar_post_path(post, method: 'pkuseg', format: :text), method: :post %>
            or
            <%= link_to '.xlsx', segment_scholar_post_path(post, method: 'pkuseg', format: :xlsx), method: :post %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
