<%= render 'admin/shared/header' %>
<div class="container">
  <div class="btn-toolbar">
    <%= link_to admin_post_path, class: 'btn btn-sm btn-outline-secondary' do %>
      <i class="fas fa-redo"></i> Back
    <% end %>
  </div>
  <div class="mt-2">
    <%= form_tag clusters_admin_post_path(@post), method: :get, class: "form-inline" do %>
      <div class="form-group mr-2">
        <label class="mr-1">K :</label>
        <%= number_field_tag :k, params[:k], class: "form-control" %>
      </div>
      <button type="submit" class="btn btn-sm btn-outline-secondary">Cluster</button>
    <% end %>
    <p>Silhouette score: <%= @kmeans.silhouette.round(5) %></p>
  </div>
  <div class="mt-2" id="collapses">
    <div class="mb-2">
      <% @clusters.each.with_index do |cluster, index| %>
        <div class="btn btn-sm btn-outline-secondary mr-1 mb-1" data-toggle="collapse" href="#cluster-<%= index %>">
          Cluster <%= index %> <span class="badge badge-light"><%= cluster.size %></span>
        </div>
      <% end %>
    </div>
    <% @clusters.each.with_index do |cluster, index| %>
      <div class="collapse" id="cluster-<%= index %>" data-parent="#collapses">
        <% cluster.each do |comment| %>
          <%= dcard_html(comment) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
