<%= render 'admin/shared/header' %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <%= search_form_for [:admin, @q], class: 'form-row align-items-center' do |f| %>
        <div class="col-auto"><i class="fas fa-search"></i></div>
        <div class="form-group col-auto">
          <label>Title</label>
          <%= f.search_field :title_cont, class: 'form-control' %>
        </div>
        <div class="form-group col-auto">
          <label>Content</label>
          <%= f.search_field :comments_content_cont, class: 'form-control' %>
        </div>
        <div class="form-group col-2">
          <label>Comments</label>
          <div class="d-flex align-items-center">
            <div class="mr-1">
              <%= f.number_field :comments_count_gteq, class: 'form-control', placeholder: '>=' %>
            </div>
            ~
            <div class="ml-1">
              <%= f.number_field :comments_count_lteq, class: 'form-control', placeholder: '<=' %>
            </div>
          </div>
        </div>
        <div class="form-group col-2">
          <label>Reviews</label>
          <div class="d-flex align-items-center">
            <div class="mr-1">
              <%= f.number_field :reviews_count_gteq, class: 'form-control', placeholder: '>=' %>
            </div>
            ~
            <div class="ml-1">
              <%= f.number_field :reviews_count_lteq, class: 'form-control', placeholder: '<=' %>
            </div>
          </div>
        </div>
        <div class="btn-group col-auto">
          <%= f.button class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to admin_posts_path, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-undo"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="d-flex align-items-center">
    <%= link_to batch_update_admin_posts_path(ids: @posts.map(&:id)), method: :post, class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
      <i class="fas fa-cloud-download-alt"></i> Crawl comments of this page's posts
    <% end %>
  </div>
  <br>
  <div>
    <%= paginate @posts %>
    <table class="table mt-2">
      <thead class="thead-light">
        <tr>
          <th>Forum / Title</th>
          <th>
            <%= sort_link @q, :comments_count do %>
              Crawled
            <% end %> /
            <%= sort_link @q, :comment_count do %>
              Comments
            <% end %>
          </th>
          <th>
            <%= sort_link @q, :reviews_count do %>
              Reviews
            <% end %>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td>
              <%= link_to post.forum_name, admin_forum_path(post.forum_id) %> /
              <%= post.title %>
              <%= link_to post.dcard_url, target: :_blank do %>
                <i class="fas fa-external-link-alt"></i>
              <% end %>
            </td>
            <td><%= post.comments_count %> / <%= post.comment_count %></td>
            <td><%= post.reviews_count %></td>
            <td class="btn-toolbar">
              <div class="btn-group mr-1 my-1">
                <%= link_to admin_post_path(post), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="fas fa-info-circle"></i>
                <% end %>
                <%= link_to admin_reviews_path(q: { post_id_eq: post.id }), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="fas fa-info-circle"></i> Reviews
                <% end %>
              </div>
              <div class="btn-group mr-1 my-1">
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fas fa-project-diagram"></i> @ Graph
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to '2D' ,graph_admin_post_path(post), class: 'dropdown-item'%>
                    <%= link_to '3D' ,graph3d_admin_post_path(post), class: 'dropdown-item'%>
                  </div>
                </div>
              </div>
              <div class="btn-group mr-1 my-1">
                <%= link_to admin_post_path(post), method: :patch, class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="fas fa-cloud-download-alt"></i> Crawl
                <% end %>
              </div>
              <div class="btn-group mr-1 my-1">
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fas fa-cloud-download-alt"></i> Segmentation
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to 'jieba .txt', export_admin_post_path(post, method: 'jieba', format: :text), class: 'dropdown-item' %>
                    <%= link_to 'snownlp .txt', export_admin_post_path(post, method: 'snownlp', format: :text), class: 'dropdown-item' %>
                    <%= link_to 'pkuseg .txt', export_admin_post_path(post, method: 'pkuseg', format: :text), class: 'dropdown-item' %>
                    <%= link_to 'jieba .xlsx', export_admin_post_path(post, method: 'jieba', format: :xlsx), class: 'dropdown-item' %>
                    <%= link_to 'snownlp .xlsx', export_admin_post_path(post, method: 'snownlp', format: :xlsx), class: 'dropdown-item' %>
                    <%= link_to 'pkuseg .xlsx', export_admin_post_path(post, method: 'pkuseg', format: :xlsx), class: 'dropdown-item' %>
                  </div>
                </div>
              </div>
              <div class="btn-group my-1">
                <%= link_to admin_post_path(post), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  </div>
</div>
