<%= render 'admin/shared/header' %>
<div class="container">
  <div class="btn-toolbar mt-2">
    <%= link_to :back, class: 'btn btn-sm btn-outline-secondary' do %>
      <i class="fas fa-redo"></i> Back
    <% end %>
    <%= link_to admin_reviews_path(q: { post_id_eq: @post.id }), class: 'btn btn-sm btn-outline-secondary ml-auto' do %>
      <i class="far fa-file-alt"></i> Reviews
    <% end %>
    <div class="dropdown ml-1">
      <div class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-project-diagram"></i> Graph
      </div>
      <div class="dropdown-menu">
        <%= link_to '2D' ,graph_admin_post_path(@post), class: 'dropdown-item'%>
        <%= link_to '3D' ,graph3d_admin_post_path(@post), class: 'dropdown-item'%>
      </div>
    </div>
    <div class="dropdown ml-1">
      <div class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-tasks"></i> Tasks
      </div>
      <div class="dropdown-menu">
        <%= link_to admin_post_path(@post), method: :patch, remote: true, class: 'dropdown-item' do %>
          <i class="fas fa-cloud-download-alt"></i> Crawl
        <% end %>
        <%= link_to sentiment_analysis_admin_post_path(@post), method: :post, remote: true, class: 'dropdown-item' do %>
          <i class="fas fa-smile"></i> Sentiment Analysis
        <% end %>
        <div class="dropdown-header"><i class="fas fa-file-download"></i> Segmentation by</div>
        <%= link_to 'jieba.txt', segmentation_admin_post_path(@post, method: 'jieba', format: :text), method: :post, class: 'dropdown-item' %>
        <%= link_to 'snownlp.txt', segmentation_admin_post_path(@post, method: 'snownlp', format: :text), method: :post, class: 'dropdown-item' %>
        <%= link_to 'pkuseg.txt', segmentation_admin_post_path(@post, method: 'pkuseg', format: :text), method: :post, class: 'dropdown-item' %>
        <%= link_to 'jieba.xlsx', segmentation_admin_post_path(@post, method: 'jieba', format: :xlsx), method: :post, class: 'dropdown-item' %>
        <%= link_to 'snownlp.xlsx', segmentation_admin_post_path(@post, method: 'snownlp', format: :xlsx), method: :post, class: 'dropdown-item' %>
        <%= link_to 'pkuseg.xlsx', segmentation_admin_post_path(@post, method: 'pkuseg', format: :xlsx), method: :post, class: 'dropdown-item' %>
      </div>
    </div>
    <%= link_to admin_post_path(@post), class: 'btn btn-sm btn-outline-danger ml-1', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
  <div class="mt-2">
    <%= paginate @comments %>
    <%= render 'posts/post', post: @post, comments: @comments %>
    <%= paginate @comments %>
  </div>
</div>
