<%= render 'admin/shared/header' %>
<div class="container my-2">
  <div class="btn-toolbar">
    <%= link_to admin_post_path, class: 'btn btn-sm btn-outline-secondary mr-auto' do %>
      <i class="fas fa-redo"></i> Back
    <% end %>
    <%= render 'tasks_btn', post: @post %>
  </div>
  <div class="mt-2">
    <% if @kmeans %>
      <%= form_tag visualization_admin_post_path(@post), method: :get, class: "form-inline" do %>
        <div class="form-group mr-2">
          <label class="mr-1">K :</label>
          <%= number_field_tag :k, @kmeans.k, class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-sm btn-outline-secondary">
          <i class="fas fa-paper-plane"></i> Cluster
        </button>
        <%= link_to visualization_admin_post_path(@post), class: 'btn btn-sm btn-outline-secondary ml-2' do %>
          <i class="fas fa-braille"></i> Best K
        <% end %>
      <% end %>
      <p class="text-muted small">Silhouette score: <%= @kmeans.silhouette.round(5) %></p>
    <% else %>
      <p>
        You need to
        <%= link_to compute_embedding_admin_post_path(@post), method: :post, remote: true, class: 'btn btn-sm btn-outline-warning', id: "compute-embedding-post-#{@post.dcard_id}-btn" do %>
          <i class="fas fa-vector-square"></i> Compute Embedding
        <% end %>
        first
      </p>
    <% end %>
    <% unless @post.sentiment.present? %>
      <p>
        You need to
        <%= link_to sentiment_analysis_admin_post_path(@post), method: :post, remote: true, class: 'btn btn-sm btn-outline-warning', id: "sentiment-analysis-post-#{@post.dcard_id}-btn" do %>
          <i class="fas fa-smile"></i> Sentiment Analysis
        <% end %>
        first
      </p>
    <% end %>
  </div>
  <hr>
  <div>
    <h2>Sentiment Analysis</h2>
    <div class="row">
      <div id="sentiment-pie-chart-container" class="col-md-6 col-12"></div>
      <div id="sentiment-column-chart-container" class="col-md-6 col-12"></div>
    </div>
  </div>
  <hr>
  <div>
    <h2>Mention Graph</h2>
    <input type="text" id="floor-range" name="floor-range">
    <div class="row mt-2">
      <div class="col-12 col-md-7">
        <div id="graph-container">
          <div id="graph"></div>
        </div>
        <div class="btn-toolbar mt-2">
          <label>Color by</label>
          <div class="btn-group btn-group-toggle ml-1 mr-2" data-toggle="buttons">
            <div class="btn btn-sm btn-outline-secondary active" id="color-by-gender-btn"><input type="radio">Gender</div>
            <div class="btn btn-sm btn-outline-secondary" id="color-by-sentiment-btn"><input type="radio">Sentiment</div>
            <div class="btn btn-sm btn-outline-secondary" id="color-by-cluster-btn"><input type="radio">Cluster</div>
          </div>
          <label>Size by</label>
          <div class="btn-group btn-group-toggle ml-1 mr-2" data-toggle="buttons">
            <div class="btn btn-sm btn-outline-secondary active" id="size-by-like-btn"><input type="radio">Like</div>
            <div class="btn btn-sm btn-outline-secondary" id="size-by-length-btn"><input type="radio">Length</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div id="node-html"></div>
      </div>
    </div>
  </div>
</div>
<script>
  var data = <%= sanitize force_graph_data_formater(@post, @comments).to_json %>
  function dates(from, to) {
    const fromDay = dayjs(from)
    const toDay = dayjs(to)
    const result = []
    const days = toDay.diff(fromDay, 'day')
    for (let i = 0; i <= days; i++) {
      result.push(fromDay.add(i, 'day').format('YYYY-MM-DD HH:mm'))
    }
    return result
  }

  // Prepare pie chart data
  var pieChartData = [
    { name: 'negative', data: 0 },
    { name: 'neutral', data: 0 },
    { name: 'positive', data: 0 },
    { name: 'null', data: 0 }
  ]
  data.nodes.forEach(node => {
    if (node.sentiment === 'negative') {
      pieChartData[0].data += 1
    } else if (node.sentiment === 'neutral') {
      pieChartData[1].data += 1
    } else if (node.sentiment === 'positive') {
      pieChartData[2].data += 1
    } else {
      pieChartData[3].data += 1
    }
  })
  // Prepare column chart data
  var nodesGroupByDay = _.groupBy(data.nodes, (node) => dayjs.unix(node.createdAt).startOf('day').format('YYYY-MM-DD HH:mm'))
  var columnChartCategories = dates(_.findKey(nodesGroupByDay), _.findLastKey(nodesGroupByDay))
  var columnChartColumnData = [
    { name: 'negative', data: [] },
    { name: 'neutral', data: [] },
    { name: 'positive', data: [] },
    { name: 'null', data: [] }
  ]
  var columnChartLineData = [
    { name: 'total', data: [] }
  ]

  _.forEach(columnChartCategories, (day, index) => {
    columnChartColumnData.forEach(column => {
      column.data[index] = 0
    })
    columnChartLineData.forEach(line => {
      line.data[index] = 0
    })
    day
    _.forEach(nodesGroupByDay[day], node => {
      columnChartLineData[0].data[index] += 1
      if (node.sentiment === 'negative') {
        columnChartColumnData[0].data[index] += 1
      } else if (node.sentiment === 'neutral') {
        columnChartColumnData[1].data[index] += 1
      } else if (node.sentiment === 'positive') {
        columnChartColumnData[2].data[index] += 1
      } else {
        columnChartColumnData[3].data[index] += 1
      }
    })
  })

  var sentimentColors = [
    "rgba(220,53,69,1)", // negative
    "rgba(40,167,69,1)", // neutral
    "rgba(0,123,255,1)", // positive
    "rgba(108,117,125,1)" // null
  ]

  // Draw pie chart
  tui.chart.registerTheme('pie', { series: { colors: sentimentColors }})
  tui.chart.pieChart(document.getElementById('sentiment-pie-chart-container'), {
      categories: ['Comment'],
      series: pieChartData
    }, {
      theme: 'pie'
    }
  )

  // Draw column chart
  tui.chart.registerTheme('combo', { series: { column: { colors: sentimentColors }}})
  tui.chart.comboChart(document.getElementById('sentiment-column-chart-container'), {
      categories: columnChartCategories,
      series: {
        column: columnChartColumnData,
        line: columnChartLineData
      }
    }, {
      // options
      xAxis: {
        type: 'datetime',
        dateFormat: 'YYYY-MM-DD'
      },
      series: {
        zoomable: true
      },
      theme: 'combo'
    }
  )

  // Draw graph
  var clusters = <%= sanitize @clusters.to_json %> || []
  var Graph = ForceGraph3D()
  var graph = document.getElementById('graph')
  var graphContainer = document.getElementById('graph-container')
  var nodeHtml = document.getElementById('node-html')
  function adjustGraphSize() {
    Graph.width(graphContainer.clientWidth).height(window.innerHeight - 100)
  }
  function removeChildren(dom) {
    while (dom.firstChild) { dom.removeChild(dom.firstChild) }
  }
  function showNode(node) {
    removeChildren(nodeHtml)
    nodeHtml.insertAdjacentHTML('afterbegin', node.html);
  }
  Graph(document.getElementById('graph'))
    .graphData(data)
    .backgroundColor('#f8f9fa')
    .nodeVal('valLike')
    .nodeColor('genderColor')
    .onNodeClick(node => showNode(node))
    .linkWidth(2)
  adjustGraphSize()
  window.addEventListener('resize', () => adjustGraphSize())
  // Button to controll graph
  document.getElementById('color-by-gender-btn').addEventListener('click', () => Graph.nodeColor('genderColor'))
  document.getElementById('color-by-sentiment-btn').addEventListener('click', () => Graph.nodeColor('sentimentColor'))
  document.getElementById('color-by-cluster-btn').addEventListener('click', () => Graph.nodeColor('clusterColor'))
  document.getElementById('size-by-like-btn').addEventListener('click', () => Graph.nodeVal('valLike'))
  document.getElementById('size-by-length-btn').addEventListener('click', () => Graph.nodeVal('valLength'))

  // Add clusters colors to nodes
  function randomColor() {
    let r = (Math.random() * 255) | 0
    let g = (Math.random() * 255) | 0
    let b = (Math.random() * 255) | 0
    return `rgb(${r}, ${g}, ${b})`
  }
  document.getElementById('color-by-cluster-btn').addEventListener('click', () => {
    clusters.forEach(cluster => {
      let color = randomColor()
      cluster.forEach(point => {
        let node = data.nodes.find(node => node.floor === point)
        node["clusterColor"] = color
      })
    })
  })

  // ionRangeSlider for display nodes in specific floors
  function showNodesInRange(min, max) {
    let { nodes, links } = data
    // Remove links attached to node
    links = links.filter(l => {
      return l.source.floor >= min &&
        l.source.floor <= max &&
        l.target.floor >= min &&
        l.target.floor <= max
    })
    // Remove nodes
    nodes = nodes.filter(n => n.floor >= min && n.floor <= max)
    Graph.graphData({ nodes, links })
    return {nodes, links}
  }
  $("#floor-range").ionRangeSlider({
    type: "double",
    grid: true,
    min: 0,
    max: data['nodes'][data['nodes'].length-1].floor,
    from: 0,
    to: data['nodes'][data['nodes'].length-1].floor,
    prefix: "B",
    onFinish: function (data) {
      console.log(`from ${data.from}`)
      console.log(`to ${data.to}`)
      showNodesInRange(data.from, data.to)
    }
  })
</script>
<style>
  img {
    max-width: 100%;
    max-height: 200px;
  }
</style>
