<h3>Title : <%= post.title %></h3>
<p>Forum : <%= post.forum_name %></p>
<p>Origin Link : <%= link_to post.dcard_url, post.dcard_url, target: :_blank %></p>
<hr>
<div>
  <h5 id="floor-0">B0 :</h5>
  <div>
    <%= simple_format post.content %>
  </div>
  <p class="small text-muted"><i class="fas fa-heart"></i> &times; <%= post.like_count %></p>
  <hr>
</div>
<% post.comments.order(:floor).each do |comment| %>
  <div>
    <%= render 'comments/comment', comment: comment %>
    <hr>
  </div>
<% end %>
