<%= render 'admin/shared/header' %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <%= search_form_for [:admin, @q], class: 'form-row align-items-center' do |f| %>
        <div class="col-auto"><i class="fas fa-search"></i></div>
        <div class="form-group col-auto">
          <label>Email</label>
          <%= f.search_field :email_cont, class: 'form-control ml-1' %>
        </div>
        <div class="btn-group col-auto">
          <%= f.button class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-search"></i>
          <% end %>
          <%= link_to admin_users_path, class: 'btn btn-sm btn-outline-secondary' do %>
            <i class="fas fa-undo"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= paginate @users %>
  <table class="table mt-2">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td>
            <%= link_to admin_user_path(user), class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
